@charset "UTF-8";
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: -webkit-fill-available;
}

input[type=submit] {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

h2 {
  color: #4dbd38;
}

header {
  background-color: #fff;
  opacity: 80%;
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  z-index: 100;
}
header .logo img {
  margin-top: 10px;
}
@media (max-width: 550px) {
  header .logo img {
    height: 60%;
    margin-left: 50px;
  }
}
header .menu {
  height: 50px;
  justify-content: right;
  background-color: #fff;
  opacity: 80%;
}
header .menu label {
  display: none;
}
header .menu nav {
  height: 100px;
}
header .menu nav ul {
  list-style: none;
  position: relative;
  height: 100px;
  display: flex;
  place-items: center;
  margin: 0;
}
header .menu nav ul li {
  width: 150px;
  float: left;
}
header .menu nav ul li a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #999;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.5s;
}
header .menu nav ul li a:hover {
  background-color: #4dbd38;
  color: #fff;
}
header .menu label[for=”bt_menu”] {
  padding: 5px;
  background-color: #222;
  color: #fff;
  font-family: Arial;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  display: none;
}
header .menu #bt_menu {
  display: none;
}
@media (max-width: 550px) {
  header .menu nav ul {
    flex-direction: column;
    padding: 5px;
  }
  header .menu nav ul li a {
    color: black;
    padding: 0px;
    text-align: left;
    font-size: 12px;
  }
}

.l-main__inicio {
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Number text (1/5 etc) */
  /* The dots/bullets/indicators */
  /* Fading animation */
}
.l-main__inicio .slideshow-container {
  width: 100vw;
  position: relative;
}
.l-main__inicio .mySlides {
  display: none;
}
.l-main__inicio .mySlides img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.l-main__inicio .mySlides .info01 {
  font-size: 51px;
  font-weight: 400;
  font-family: "Great Vibes";
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  border-width: 0px;
  transition: none 0s ease 0s;
  text-align: center;
  line-height: 41px;
  margin: 0px;
  padding: 14px 34px;
  letter-spacing: 0px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  transform-origin: 50% 50% 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
.l-main__inicio .mySlides .info02 {
  font-size: 44px;
  font-weight: 700;
  color: white;
  font-family: Lora;
  text-transform: uppercase;
  background-color: rgba(77, 189, 56, 0.9);
  border-width: 0px;
  letter-spacing: 1px;
  transition: none 0s ease 0s;
  text-align: center;
  line-height: 41px;
  margin: 0px;
  padding: 14px 34px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  transform-origin: 50% 50% 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
.l-main__inicio .mySlides .info03 {
  max-width: 461px;
  font-size: 23px;
  line-height: 23px;
  font-weight: 700;
  color: white;
  font-family: Lora;
  text-transform: uppercase;
  background-color: rgba(77, 189, 56, 0.9);
  border-width: 0px;
  letter-spacing: 1px;
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: center;
  margin: 0px;
  padding: 14px 34px;
  min-height: 0px;
  max-height: none;
  opacity: 1;
  transform-origin: 50% 50% 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
.l-main__inicio .prev,
.l-main__inicio .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.l-main__inicio .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.l-main__inicio .prev:hover,
.l-main__inicio .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.l-main__inicio .text {
  color: #f2f2f2;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.l-main__inicio .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.l-main__inicio .dot-indicator {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
}
.l-main__inicio .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.l-main__inicio .active,
.l-main__inicio .dot:hover {
  background-color: #717171;
}
.l-main__inicio .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 550px) {
  .l-main__inicio .mySlides .text {
    width: 80vw;
  }
  .l-main__inicio .mySlides .info01 {
    font-size: 32px;
    line-break: auto;
    line-height: 27px;
  }
  .l-main__inicio .mySlides .info02 {
    font-size: 18px;
    line-break: auto;
    line-height: 20px;
  }
  .l-main__inicio .mySlides .info03 {
    font-size: 14px;
    line-break: auto;
    line-height: 19px;
  }
}

.l-main__chef {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
  background-color: white;
  height: 70vh;
  position: relative;
  z-index: 0;
}
.l-main__chef .background-img {
  position: absolute;
  top: 0;
  z-index: -1;
}
.l-main__chef .background-img img {
  height: 70vh;
  width: 100vw;
  object-fit: cover;
}
.l-main__chef .white-layer {
  background-color: white;
  opacity: 80%;
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  z-index: 1;
}
.l-main__chef .l-main__chef__foto {
  width: 40vw;
  z-index: 2;
  padding: 20px;
}
.l-main__chef .l-main__chef__foto img {
  max-width: 100%;
  max-height: 100%;
}
.l-main__chef .l-main__chef__info {
  width: 60vw;
  padding-right: 150px;
  padding-left: 50px;
  text-align: justify;
  font-size: 20px;
  color: black;
  z-index: 2;
}
@media (max-width: 550px) {
  .l-main__chef {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .l-main__chef .background-img h2 {
    font-size: 25px;
  }
  .l-main__chef .background-img img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
  .l-main__chef .l-main__chef__foto {
    width: 100vw;
    padding: 0px;
  }
  .l-main__chef .l-main__chef__info {
    text-align: justify;
    font-size: 16px;
    color: black;
    z-index: 2;
    width: 90vw;
    padding: 0px;
    margin-bottom: 50px;
  }
}

.l-main__cardapio {
  position: relative;
  text-align: center;
  z-index: 0;
  padding: 80px 0px;
  /* Style the tab buttons */
  /* Change background color of buttons on hover */
}
.l-main__cardapio .background-img {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
}
.l-main__cardapio .background-img img {
  height: 100%;
  width: 100vw;
  object-fit: cover;
}
.l-main__cardapio .color-layer {
  background-color: rgba(215, 206, 181, 0.99);
  opacity: 80%;
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  z-index: -1;
}
.l-main__cardapio h2 {
  text-align: center;
  font-size: 40px;
  text-align: center;
}
.l-main__cardapio h3 {
  padding: 10px 0px;
}
.l-main__cardapio .subtitle {
  text-align: center;
  color: #777264;
  text-align: center;
  font-size: 30px;
}
.l-main__cardapio .info {
  font-family: Lato;
  color: #2d3033;
  line-height: 24px;
  font-size: 13px;
  text-align: justify;
  margin: 10px 80px 30px 80px;
}
.l-main__cardapio .cardapio_buttons {
  width: 90%;
  height: 6vh;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
}
.l-main__cardapio #products_container {
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 16px 0;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  display: grid;
}
.l-main__cardapio #products_container .tabcontent {
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  grid-row-gap: 16px;
  color: black;
  text-transform: uppercase;
  padding: 10px 10px;
  text-align: left;
  align-items: center;
  font-size: 17px;
  display: flex;
  flex-direction: column;
}
.l-main__cardapio .tablink {
  background-color: transparent;
  color: #9d755b;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 100%;
}
.l-main__cardapio .defaultOpen {
  display: flex;
  flex-direction: column;
}
.l-main__cardapio .defaultOpen .cardapio_buttons {
  background-color: rgba(255, 255, 255, 0.5);
}
.l-main__cardapio .productlink {
  background-color: #9d755b;
  color: #FFF;
  font-weight: bold;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 90%;
}
.l-main__cardapio .tablink:hover {
  background-color: #777;
  color: white;
  border-radius: 16px;
}
.l-main__cardapio .subcategoria {
  display: grid;
  width: 85%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
.l-main__cardapio .details {
  background-color: #9d755b;
  border-radius: 16px;
  padding: 10px 10px;
  grid-row-gap: 16px;
  height: 30px;
}
.l-main__cardapio .details summary {
  color: white;
}
.l-main__cardapio .details[open] {
  height: 100%;
  background-color: rgba(215, 206, 181, 0.99);
}
.l-main__cardapio .details:hover {
  background-color: rgba(215, 206, 181, 0.99);
}
.l-main__cardapio summary::-webkit-details-marker {
  display: none;
}
.l-main__cardapio .info-nutricional {
  background-color: rgba(215, 206, 181, 0.99);
  border-radius: 16px;
  margin: 10px;
  padding: 5px 5px;
}
.l-main__cardapio .linha {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr;
  grid-row-gap: 20px;
}
.l-main__cardapio .box1 {
  text-align: left;
}
@media (max-width: 550px) {
  .l-main__cardapio {
    width: 100vw;
  }
  .l-main__cardapio h2 {
    font-size: 28px;
    margin-top: -40px;
  }
  .l-main__cardapio .background-img {
    height: 100%;
  }
  .l-main__cardapio .subtitle {
    font-size: 28px;
  }
  .l-main__cardapio .info {
    font-size: 17px;
    width: 90%;
    margin-left: 20px;
  }
  .l-main__cardapio .cardapio_buttons {
    width: 99%;
    margin-left: 3px;
    flex-wrap: wrap;
    height: auto;
  }
  .l-main__cardapio .tablink {
    font-size: 17px;
    width: auto;
  }
  .l-main__cardapio #products_container {
    width: 98%;
  }
  .l-main__cardapio .tabcontent {
    padding: 0px 0px;
  }
  .l-main__cardapio .tabcontent h3 {
    font-size: 18px;
    padding: 10px 0px;
  }
  .l-main__cardapio .subcategoria {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0px 20px 0px 0px;
  }
  .l-main__cardapio .details {
    height: 5vh;
    font-size: 13px;
    margin: 0px 16px;
  }
}

.l-main__sucos {
  background-color: #747474;
  display: flex;
  flex-direction: column;
  height: 94vh;
  width: 100vw;
  position: relative;
  z-index: 0;
}
.l-main__sucos .sucos-info {
  position: absolute;
  z-index: 2;
  text-align: center;
  place-items: center;
  justify-content: center;
  width: 90%;
  font-size: 30px;
  color: #fff;
  font-weight: 800;
  font-family: Lora !important;
  margin-top: 150px;
}
.l-main__sucos .background-color {
  background-color: #333333;
  opacity: 80%;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  z-index: 1;
}
.l-main__sucos .background-img {
  position: absolute;
  top: 0;
  z-index: -1;
}
.l-main__sucos .background-img img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
@media (max-width: 550px) {
  .l-main__sucos {
    height: 30vh;
  }
  .l-main__sucos .background-img img {
    height: 30vh;
  }
  .l-main__sucos .background-color {
    height: 30vh;
  }
  .l-main__sucos .sucos-info {
    margin-top: 0;
    width: 80%;
    font-size: 20px;
    padding: 0px 0px 0px 40px;
  }
}

.l-main__sobremesa {
  height: 78vh;
  position: relative;
  z-index: 0;
}
.l-main__sobremesa .sobremesa-info {
  position: absolute;
  color: black;
  font-size: 30px;
  z-index: 2;
  text-align: center;
  place-items: center;
  justify-content: center;
  width: 100%;
}
.l-main__sobremesa .background-color {
  background-color: white;
  opacity: 80%;
  width: 100vw;
  height: 78vh;
  display: flex;
  position: absolute;
  top: 0;
  z-index: 1;
}
.l-main__sobremesa .background-img {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
}
.l-main__sobremesa .background-img img {
  height: 100%;
  width: 100vw;
  object-fit: cover;
}
@media (max-width: 550px) {
  .l-main__sobremesa {
    height: 30vh;
  }
  .l-main__sobremesa .background-img img {
    height: 30vh;
  }
  .l-main__sobremesa .background-color {
    height: 30vh;
  }
  .l-main__sobremesa .sobremesa-info {
    width: 90%;
    font-size: 17px;
  }
}

footer {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: rgba(50, 138, 34, 0.9);
  place-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  height: 50vh;
  width: 100vw;
}
footer .background-img {
  position: absolute;
  top: 0;
  z-index: -1;
}
footer .background-img img {
  height: 50vh;
  width: 100vw;
  object-fit: cover;
}
footer h3 {
  font-size: 36px;
}
footer .icone-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .icone-container a {
  margin-left: 5px;
}
@media (max-width: 1000px) {
  footer {
    height: 40vh;
  }
  footer .background-img img {
    height: 40vh;
  }
}

.footer_copyright {
  background-color: #000;
  display: flex;
  position: relative;
  height: 50px;
  width: 100vw;
}
.footer_copyright p {
  color: #fff;
}

body {
  background-color: white;
}

/*# sourceMappingURL=main.css.map */
