.small{
  height: 100px;
}

.big{
  height: 100px;
} 

header{
  background-color: #fff;
  opacity: 80%;
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  z-index:100;


  .logo{
    img{
      margin-top: 10px;

      @media (max-width: 1250px) {
        height: 80px;
        margin-left: 20px;
        margin-top: 10px;
      }
    }
  }

  .menu{
    height: 50px;
    justify-content: right;
    background-color: #fff;
    opacity: 80%;

    label{
      display: none;
    }

    nav{
      height: 100px;

      ul{
        list-style: none;
        position: relative;
        height:  100px;
        display: flex;
        place-items: center;
        margin: 0;
  
  
        li{
          width: 150px;
          float: left;
  
          a{
            padding: 15px;
            display: block;
            text-decoration: none;
            text-align: center;
            color: #999;
            font-weight:bold;
            font-size: 16px;
            transition: all 0.5s;

            &:hover{
              background-color: #4dbd38;
              color: #fff;
            }
          }
        }
      }
    }

  

    label[for=”bt_menu”]{
      padding: 5px;
      background-color: #222;
      color: #fff;
      font-family: Arial;
      text-align: center;
      font-size: 30px;
      cursor: pointer;
      height: 50px;
      display: none;

    }
     
    #bt_menu {
      display: none;
    }

  }
}